
#addWallbox.modal.fade(tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title Add new wallbox
        button.close(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      form(onsubmit="return false")
        .modal-body
          #addAlert.alert.alert-danger.d-none|
          .form-group
            label(for="nameInput") Name
            input#nameInput.form-control(name="name" type="text" placeholder="Name")
          .form-group
            label(for="addressInput" name="address") IP address
            input#addressInput.form-control(name="address" type="text" placeholder="xxx.xxx.xxx.xxx")
        .modal-footer
          button.btn.btn-outline-secondary(data-dismiss="modal") Cancel
          input#add.btn.btn-primary(type="submit" value="Add")

script.
  $("#add").click(() => {
    let addWallbox = $("#addWallbox");
    let alert = $("#alert");
    let loading = $("#loading");

    let name = $("#nameInput").val()
    let address = $("#addressInput").val()

    addWallbox.modal('hide');
    addWallbox.one('hidden.bs.modal', () => {
      let loadTime = setTimeout(() => {
        loading.modal('show');
      }, 100);

      let req = $.ajax({
        url: "/api/wallboxes",
        type:"PUT",
        data: {
          name: name,
          address: address
        }
      }).done((data) => {
        clearTimeout(loadTime);
        loading.modal("hide");

        alert.find('#alertTitle').text('Success');
        alert.find('#alertMessage').text('Wallbox has been successfully added.');
        alert.modal();
        addWallbox.modal('dispose');

      }).fail((xhr, status, error) => {
        clearTimeout(loadTime);
        loading.modal("hide");
        
        switch (xhr.responseText) {
          case 'timeout':
            alert.find('#alertTitle').text('Timeout');
            alert.find('#alertMessage').text('Wallbox did not respond in time. Check the IP address');
            alert.modal();
            alert.one('hidden.bs.modal', () => {
              addWallbox.modal('show');
            });
            break;
          case 'wrong data':
            alert.find('#alertTitle').text('Error');
            alert.find('#alertMessage').text('Server responded with wrong data. Check the IP address');
            alert.modal();
            alert.one('hidden.bs.modal', () => {
              addWallbox.modal('show');
            });
            break;
          default:
            alert.find('#alertTitle').text('Error');
            alert.find('#alertMessage').text(xhr.responseText);
            alert.modal();
        }
      });
    });
  });
