
div#addWallbox.modal.fade(tabindex="-1" role="dialog")
  div.modal-dialog(role="document")
    div.modal-content
      div.modal-header
        h5.modal-title|Add new wallbox
        button.close(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true")|&times;
      form(onsubmit="return false")
        div.modal-body
          div#addAlert.alert.alert-danger.d-none|
          div.form-group
            label(for="nameInput")|Name
            input#nameInput.form-control(name="name" type="text" placeholder="Name")
          div.form-group
            label(for="addressInput" name="address")|IP address
            input#addressInput.form-control(name="address" type="text" placeholder="xxx.xxx.xxx.xxx")
        div.modal-footer
          button.btn.btn-secondary(data-dismiss="modal")|Cancel
          input#add.btn.btn-primary(type="submit" value="Add" data-toggle="modal" data-target="#loading")

div#loading.modal(tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false")
  div.modal-dialog.modal-sm.modal-dialog-centered.d-flex.justify-content-center
    div.modal-content(style="width: 90px;")
      div.modal-body.text-center
        h1.m-0
          i.fas.fa-sync.fa-spin

div#alert.modal.fade
  div.modal-dialog.modal-dialog-centered
    div.modal-content
      div.modal-header
        h5#alertTitle.modal-title|Message
        button.close(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true")|&times;
      div.modal-body
        p#alertMessage.modal-text|Message body

script.
  $("#add").click(() => {
    let addWallbox= $("#addWallbox");
    let alert = $("#alert");
    let loading = $("#loading");

    let name=$("#nameInput").val()
    let address=$("#addressInput").val()

    addWallbox.modal('hide');
    addWallbox.one('hidden.bs.modal', () => {    
      loading.modal('show');

      var req = $.post("/addWallbox",{ name: name, address: address }, (data) => {
        loading.modal("hide");

        loading.one('hidden.bs.modal', () => {
        switch (data) {
          case 'ok':
            alert.find('#alertTitle').text('Success');
            alert.find('#alertMessage').text('Wallbox has been successfully added.');
            alert.modal();
            addWallbox.modal('dispose');
            break;
          case 'timeout':
            alert.find('#alertTitle').text('Timeout');
            alert.find('#alertMessage').text('Wallbox did not respond in time. Check the IP address');
            alert.modal();
            alert.one('hidden.bs.modal', () => {
              addWallbox.modal('show');
            });
            break; 
          case 'wrong data': 
            alert.find('#alertTitle').text('Error');
            alert.find('#alertMessage').text('Server responded with wrong data. Check the IP address');
            alert.modal();
            alert.one('hidden.bs.modal', () => {
              addWallbox.modal('show');
            });
            break;
          default:
            alert.find('#alertTitle').text('Error');
            alert.find('#alertMessage').text('An error occurred: ' + data);
            alert.modal();
          }
        });
      });
    });
  });
