doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block head
    include includes/scripts.pug
    block scripts
  body.pr-0
    nav.navbar.navbar-dark.bg-dark.navbar-expand-sm.justify-content-between
      div
        button.navbar-toggler.mr-2(type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        a.navbar-brand(href="/")|KeContact

      if page=='index'
        button.btn.btn-primary.d-block.d-sm-none(data-toggle="modal" data-target="#addWallbox")|New
      
      div#navContent.collapse.navbar-collapse.justify-content-between
        if page!='index'
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/"+data.Serial+"/meter" class={'active': page === 'meter'})|Meter
            li.nav-item
              a.nav-link(href="/"+data.Serial+"/history" class={'active': page === 'history'})|History
        else
          div
        block nav
    main.container.mt-2
      block content
    block footer