@font-face {
	font-family: '7Seg';
	src: url(/Segment7Standard.otf);
}

.display {
	padding-top: .17em;
	line-height: 1;
	font-size: 56px;
	font-family: '7Seg', monospace;
}

.unit {
	margin-left: 5px;
	font-size: 24px;
}