@font-face {
	font-family: '7Seg';
	src: url(/Segment7Standard.otf);
}

a.custom-card,
a.custom-card:hover {
	color: inherit;
}

.display {
	padding-top: .17em;
	line-height: 1;
	font-size: 56px;
	font-family: '7Seg', monospace;
}

.unit {
	margin-left: 5px;
	font-size: 24px;
}

.blink {
	animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: .25;
	}
}